<nav class="navbar navbar-expand-lg navbar-dark bg-dark border">
    <a class="navbar-brand" href="/"><i data-feather="home"></i></a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {{#unless loggedIn}}
                <li class="nav-item active">
                    <a class="nav-link" href="/users/register">Sign Up <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/users/login">Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/walkers/walker-register">Walker<span class="sr-only">(current)</span></a>
                </li>

            {{else}}
                <li class="nav-item dropdown multi-level-dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{currentUser.fullName}}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </li>
                <li class="nav-item dropdown multi-level-dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Parks
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/parks/viewall">All Parks</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/parks/add">Add Park</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/walkers/view_walkers"> Walker List</a>
                </li>
            </ul>
            {{/unless}}
    </div>
</nav>

