<div class="container-fluid m-2">
    <div class="row row-cols-8  justify-content-center text-center">
        <div class="col-8 col-md-5">
            {{> user_messages}}
            <img class="displayed img-fluid" src = '/assets/images/puppy-care.jpg'  alt="puppy">
            <h3> Welcome to Puppy Paw! </h3>
        </div>
    </div>
</div>



