<div class="container-fluid mt-2">
    <div class="row justify-content-center">
        <h2>Change Password</h2>
    </div>
</div>
<div class="container-fluid m-2">
    {{> user_messages}}
</div>
<form class="needs-validation" method="post", action="/users/changepassword" novalidate>
    <div class="container-fluid">
        <div class="form-group row justify-content-center mb-0">
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4 text-left font-weight-bold">
                <label class="col-form-label" for="firstName">First Name: </label>
            </div>
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4">
                <input class="form-control" id="firstName" type="text" name="first" minlength="2" required/><br/>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter your first name.
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center mb-0">
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4 text-left font-weight-bold">
                <label class="col-form-label" for="lastName">Last Name: </label>
            </div>
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4">
                <input class="form-control" id="lastName" type="text" name="last" minlength="2" required/><br/>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter your last name.
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center mb-0">
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4 text-left font-weight-bold">
                <label class="col-form-label" for="breed">Breed: </label>
            </div>
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4">
                <input class="form-control" id="breed" type="text" name="breed" minlength="2" maxlength="10" required/><br/>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter your dog's breed.
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center mb-0">
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4 text-left font-weight-bold">
                <label class="col-form-label" for="age">Dog's Age: </label>
            </div>
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4">
                <input class="form-control" id="age" type="number" name="age" max="20" required/><br/>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter your dog's age.
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center mb-0">
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4 text-left font-weight-bold">
                <label class="col-form-label" for="password">Old Password: </label>
            </div>
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4">
                <input class="form-control" id="password" type="password" name="password" required/><br/>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter your old password.
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center mb-0">
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4 text-left font-weight-bold">
                <label class="col-form-label" for="password"> New Password: </label>
            </div>
            <div class="col-1 col-md-3"></div>
            <div class="col-9 col-md-4">
                <input class="form-control" id="password" type="password" name="newPassword" minlength="6" required/><br/>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter your new password.
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <input class="p-2 col-3 col-md-1" type="submit" value="Submit" />
        </div>
    </div>
</form>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false)
            })
        }, false)
    })()
</script>