<div class="container-fluid m-2">
    <div class="row row-cols-8 justify-content-center text-center">
        <div class="col-8 col-md-5" >
            {{> user_messages}}
            <img class="displayed img-fluid" src = '/assets/images/park.jpg'  alt="park">
            {{#each parkList}}
                <div class="list-group">
                    <a href="/parks/view?id={{this.id}}"><button type="button" class="list-group-item list-group-item-action list-group-color">{{this.title}}</button></a>

            {{/each}}
                </div>
        </div>
    </div>
</div>
